body,
html {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: poppins;
}

.canvas_cal {
  display: flex;
  width: 100%;
  height: 100vh;
  background: #2f3640;
  justify-content: center;
  align-items: center;
}

.cuerpo {
  position: relative;
  width: 500px;
  height: 800px;
  background: #636e72;
  border-radius: 25px;
}

#pantalla {
  position: absolute;
  left: 40px;
  top: 50px;
  width: 425px;
  height: 150px;
  background-color: olive;
  text-align: right;
  z-index: 100;
  font-size: 2em;
  font-family: poppins;
}


.parent {
  position: absolute;
  bottom: 50px;
  left: 25px;
  width: 90%;
  height: 500px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.teclas {
  width: 100px;
  height: 80px;
  position: absolute;
  left: 6px;
  bottom: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #b2bec3;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.5em;
  border: none;
}




.teclas:hover {
  background-color: #f39c12;
}

.teclas#suma {
  width: 100px;
  height: 180px;
  background-color: rgba(243, 156, 18, 1.0);
}

.teclas#suma:hover {
  background-color: white;
  color: black;
}

#clear {
  grid-area: 1 / 1 / 2 / 2;
}

#multiplicar {
  grid-area: 1 / 4 / 2 / 5;
}

#btn7 {
  grid-area: 2 / 1 / 3 / 2;
}

#btn8 {
  grid-area: 2 / 2 / 3 / 3;
}

#btn9 {
  grid-area: 2 / 3 / 3 / 4;
}

#dividir {
  grid-area: 2 / 4 / 3 / 5;
}

#btn4 {
  grid-area: 3 / 1 / 4 / 2;
}

#btn5 {
  grid-area: 3 / 2 / 4 / 3;
}

#btn6 {
  grid-area: 3 / 3 / 4 / 4;
}

#resta {
  grid-area: 3 / 4 / 4 / 5;
}

#btn1 {
  grid-area: 4 / 1 / 5 / 2;
}

#btn2 {
  grid-area: 4 / 2 / 5 / 3;
}

#btn3 {
  grid-area: 4 / 3 / 5 / 4;
}

#btn0 {
  grid-area: 5 / 1 / 6 / 2;
}

#punto {
  grid-area: 5 / 2 / 6 / 3;
}

#igual {
  grid-area: 5 / 3 / 6 / 4;
}

#suma {
  grid-area: 4 / 4 / 6 / 5;
}